.calculator {
    margin: 100px auto;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: inline-block;
}

.screen {
    margin-bottom: 10px;
}

.screen input {
    width: 100%;
    font-size: 24px;
    padding: 5px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    background-color: #ffffff;
    color: #333333;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}